export GTK_THEME=Numix
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export XDG_CONFIG_HOME="$HOME/.config"
if [ -d ~/.xkb ]; then
  xkbcomp -I${HOME}/.xkb ${HOME}/.xkb/keymap/mykbd $DISPLAY
fi
xset r rate 200 50
xset -b
light-locker --lock-on-suspend &
if [ -x /opt/xkeysnail/bin/xkeysnail ]; then
  xhost +SI:localuser:xkeysnail
  systemctl --user start xkeysnail
fi
dex -a
if which emacs > /dev/null 2>&1; then
  if ! pidof emacs > /dev/null; then
    SHELL=/bin/bash LANG=ja_JP.UTF-8 LANGUAGE=ja_JP.UTF-8 emacs --daemon || true &
  fi
fi
