{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "require": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "strict": 1,
    "valid-jsdoc": 2,
    "no-var": 2,
    "no-undef": 2
  }
}
