[url "git@github.com:"]
	pushinsteadof = https://github.com
[url "git@bitbucket.org:"]
	pushinsteadof = https://bitbucket.org
[user]
	name = Ryo Yamashita
	email = qryxip@gmail.com
	singingkey = 0684D679E49A4291
[commit]
	gpgsign = true
[ghq]
	root = ~/src
[mkrepo]
	service = github.com
	username = qryxip
