[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[url "git@github.com:"]
	pushinsteadof = https://github.com
[url "git@gitlab.com:"]
	pushinsteadof = https://gitlab.com
[url "git@bitbucket.org:"]
	pushinsteadof = https://bitbucket.org
[user]
	name = Ryo Yamashita
	email = qryxip@gmail.com
	singingkey = 72415AFBE13F8207
[commit]
	gpgsign = true
[ghq]
	root = ~/src
[delta]
	features = line-numbers decorations
	syntax-theme = Monokai Extended
[mkrepo]
	service = github.com
	username = qryxip
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
