[Unit]
Description=xkeysnail

[Service]
KillMode=process
ExecStart=/usr/bin/sudo -u xkeysnail /opt/xkeysnail/bin/xkeysnail /opt/xkeysnail/config.py --watch --quiet
Type=simple
Restart=always
RestartSec=1
StartLimitBurst=0
Environment=DISPLAY=:0
Environment=XAUTHORITY=/root/.Xauthority

[Install]
WantedBy=default.target
