source ~/.profile

export GTK_THEME=Numix

export GTK_IM_MODULE=fcitx5
export QT_IM_MODULE=fcitx5
export XMODIFIERS=@im=fcitx5

# export QT_QPA_PLATFORMTHEME=kde
export QT_QPA_PLATFORMTHEME=qt5ct
export XDG_CONFIG_HOME=$HOME/.config
# export XDG_CURRENT_DESKTOP=KDE
if [ -d ~/.xkb ]; then
  xkbcomp -I${HOME}/.xkb ${HOME}/.xkb/keymap/mykbd $DISPLAY
fi
xset r rate 200 50
xset -dpms
xset -b
#light-locker --lock-on-suspend &
if [ -x /opt/xremap/xremap ]; then
  xhost +SI:localuser:xremap
  systemctl --user start xremap
fi
dex -a
if which emacs > /dev/null 2>&1; then
  if ! pidof emacs > /dev/null; then
    SHELL=/bin/bash LANG=ja_JP.UTF-8 LANGUAGE=ja_JP.UTF-8 emacs --daemon || true &
  fi
fi
