[Unit]
Description=xkeysnail

[Service]
KillMode=process
ExecStart=/usr/bin/python3 /usr/local/share/xkeysnail/config.py
Type=simple
Restart=always
RestartSec=1
StartLimitBurst=0

Environment=DISPLAY=:0

[Install]
WantedBy=default.target
